$BorderGrey: LightGrey;
$DarkRose: #d96c7c;

div.Form {
    min-width: 400px;
    border: 1px solid LightGrey;
    border-radius: 3px;
    padding: 20px;

    $DarkGreen: #16c7af;

    div.FormTray {
        width: 100%;

        label, input, select {
            display: block;
            width: 100%;
        }

            label {

                p.FormLabel {
                    font-weight: 500;
                }

                p.FormError {
                    font-size: 90%;
                    color: $DarkRose;
                }

            select, input {
                padding: 3px;
                margin: 1px 0;
                font-size: 100%;
                border-radius: 0px;
                border: 1px solid $BorderGrey;
                background: White;

                &:hover,
                &:focus {
                    outline-width: 1px;
                    outline-style: solid;
                    border-width: 1px;
                    border-style: solid;
                }

                &:hover {
                    border-color: $BorderGrey;
                    border-color: $BorderGrey;
                } 

                &:focus {
                    border-color: $DarkGreen;
                    outline-color: $DarkGreen;
                }
            }
        }
    }
}
    